<div class="bg-secondary">
    <p class="bg-primary">Temperature</p>
    <p>Value: {{data.temperature.value}}</p>
    <p>Min Value: {{data.temperature.minValue}}</p>
    <p>Max Value: {{data.temperature.maxValue}}</p>
    <p>Feels Like: {{data.temperature.feelsLike}}</p>
</div>

<div class="bg-secondary">
    <p class="bg-primary">Pressure:</p>
    <p>Value: {{data.pressure}}</p>
</div>

<div class="bg-secondary">
    <p class="bg-primary">Humidity:</p>
    <p>Value: {{data.humidity}}</p>
</div>

<div class="bg-secondary">
    <p class="bg-primary">Visibility:</p>
    <p>Value: {{data.visibility}}</p>
</div>

<div class="bg-secondary">
    <p class="bg-primary">Wind Speed:</p>
    <p>Value: {{data.windSpeed}}</p>
</div>

